<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {{ style('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')}}
    {{ style('https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css')}}
</head>
<body> 
@include('inc/nav.edge')

<div class="container d-flex justify-content-center text-dark" >
    @!section('content')
</div>

{{ script('https://unpkg.com/ionicons@5.0.0/dist/ionicons.js')}}
{{ script('https://code.jquery.com/jquery-3.5.1.slim.min.js')}}
{{ script('https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js')}}
{{ script('https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"')}}

</body>
</html>